{
  "presets": ["react", "env"],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "env": {
    "libs": {},
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": ["react"],
                "locals": ["module"]
              }
            ]
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "mode": "remove",
            "ignoreFilenames": ["node_modules"]
          }
        ]
      ]
    }
  }
}
