# vendors
/node_modules

# distribution package
/dist
/*.tar.gz
/docs
/packages

# test results
/.nyc_output
/coverage

# logs
/logs
*.log

# cache
.eslintcache
.DS_Store

# github deploy key from Travis CI
.travis_rsa
